
body {
 margin: 0px;
font-family: 'Open Sans',
sans-serif;
}
ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.navigation{
  width: 54px;
  height: 1024px;
  box-shadow:1px 0px 0 #dedede ;
  padding: 16px;
  overflow: hidden;
}
.navigation a{
  font-size: 16px;
  line-height: 140%;
  color: #6f6f6e;
  text-decoration: none;
}
.navigation:hover{
  width: 250px;
  transition: all .5s;
}
.icon{
  margin-right:16px ;
  padding: 13px 16px;
}
.nav li,
.user-info,
.option li {
  display: flex;
  align-items: center;
}
.search{
  background-color: #ccc9c9;
  border-radius: 8px;
}
.nav{
  margin-top: 56px;
}
.option{
  margin-top: 362px;
}
.option li{
  margin-bottom: 16px;
}
.arrow{
  position: absolute;
  top: 38px;
  left: 75px;
  transform: rotate(180deg);
}
.navigation:hover .arrow{
  transform: rotate(360deg);
  position: absolute;
  top: 38px;
  left: 270px;
  transition: all .5s;
}